
body {
    background-color: #cccbc6; 
    font-family: Arial, Helvetica, Verdana;
    font-size: 22px;
}
#logo_link {
    padding-top: 50px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.card-img {
    border: 10px solid #224855;
}
nav a {
    padding: 35px;
}
.hero-img {
    width: 100%;
}
#hero-msg {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #224855; 
}
header {
    background-color: #224855; 
}
.home-title {
    padding: 60px 0;
    background-color: #224855;
    color: #eea945;
    font-family: Helvetica;
    font-size: 2em;
}
.book, .join {
    background-color: #fbeac178;
    padding: 15px 30px;
    margin-top: 50px;
    color: darkblue;
    text-decoration: underline;
    border-radius: 10px;
    border: 2px solid #baad8f;
}
.book:hover, .join:hover {
    color: blue;
}
.msg {
    padding: 35px;
}
.msg h2 {
    background-color: #224855;
    color: #eea945;
}
.msg p {
    padding-bottom: 15px;
}
footer {
    background-color: #224855;
    color: #eea945;
}
footer a {
    background-color: #224855;
    color: #eea945;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer a:hover {
    background-color: #224855;
    color: #eea945;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
